/* ESTILOS GENRALES */

/*Barra lateral*/
li {
    font-size: 20px;
}

li>ul>li {
    font-size: 15px;
}

#titLogo {
    text-decoration: underline;
    margin:auto;
}

.fondoLogo {
    font-size: 30px;
    background-color:#fff;
    border-radius: 8%;
}

a:link, a:visited, a:hover, a:active {
    color: #c4041b;
    text-decoration: none;
}

/* Body - Main */
.cuerpoWeb {
    margin: 2% 2% 2% 2%;
    font-size: 16px;
}

/* MODO CLARO */
body {
    background: #f2f2f2;
    font-family: "Lato", Helvetica, sans-serif;
}

/* MODO OSCURO */
body.dark {
    background: #3b403f;
    color: #e4e4e4;
}

.cambioModoOscuro {
    background: #3494b1;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}

.cambioModoOscuro span {
    width: 37px;
    height: 37px;
    line-height: 37px;
    display: block;
    color: #fff;
    background: none;
}

.cambioModoOscuro::after {
    display: block;
    background: #fffbf5;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 3rem;
    transition: all .5s ease;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
    content: "";
}

.cambioModoOscuro.active {
    background: #fdd384;
}

.cambioModoOscuro.active::after {
    left: unset;
    right: 0;
}

/* HOJA PERSONAJE */
#heroeRotar {
    transform: scaleX(-1);
}